{{ define "main" }} {{ if isset .Data "Term" }}
<h1>Entries tagged - "{{ .Data.Term }}"</h1>
{{ else }}
<h1 class="page-title">
    {{.Type | title}}
    <a href="index.xml"><i data-feather="rss"></i></a>
</h1>
{{ end }}

<ul class="posts">
    {{- range .Data.Pages -}} {{- if (not (in (.Site.Params.excludedTypes |
    default (slice "page")) .Type)) -}}
    <li class="post">
        <a href="{{ .RelPermalink }}">{{.Title}}</a>
        <span class="meta"
            >{{ dateFormat "Jan 2, 2006" .Date }}{{ if .Draft }}
            <span class="draft-label">DRAFT</span> {{ end }}


            {{ if gt .Params.tags 0 }}
           					<ul class="lily-tags">
          						{{ range .Params.tags }}
          						<li><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}"># {{ . }}</a></li>
          						{{ end }}
           					</ul>
				{{ end }}

        </span>
    </li>
    {{- end -}} {{- end -}}
</ul>
{{ end }}
