{{ define "main" }}
<main>
	<article>
		<div class="title" id="PageTitleBox">
			<h1 class="title">{{ .Title }}</h1>

			{{ if ne .Type "pages" }}
			<div class="meta">Posted on {{ dateFormat "Jan 2, 2006" .Date }}{{ if .Draft }} <span class="draft-label">DRAFT ({{.WordCount}} words)</span> {{ end }} {{partial "reading-time.html" .}} {{partial "open-heart.html" .}}</div>
			<div class="meta"></div>
			{{end}}
		</div>
		{{ if isset .Params "tldr" }}
		<div class="tldr">
			<strong>tl;dr:</strong>
			{{ .Params.tldr }}
		</div>{{ end }}

		{{ with .TableOfContents }}
            <!-- the variable is set -->
            {{ if ne . "<nav id=\"TableOfContents\"></nav>" }}
                <!-- the variable is not an empty navigation -->
                <details class="TableOfContents">
    				<summary>Contents</summary>
    				{{ . }}
    			</details>
                <!-- it's a dot because we are inside of a `with` -->
            {{ end }}
        {{ end }}

		<section class="body">
			{{ .Content }}
		</section>

		<div class="post-tags">
			{{ if ne .Type "pages" }}
			{{ if gt .Params.tags 0 }}
			<nav class="nav tags">
				<ul class="tags">
					{{ range .Params.tags }}
					<li><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></li>
					{{ end }}
				</ul>
			</nav>
			{{ end }}
			{{ end }}
		</div>

		{{ if ne .Type "pages" }}
		<div class="open-heart-container">
			{{partial "open-heart.html" .}}
		</div>

		<div class="callout">
			<div class="callout-inner">
				<div class="callout-header">Comments/Questions?</div>
				<p>I don't have a comment box on this website on purpose, but I'd be happy to hear your feedback or questions if you
					<a href="mailto:blog@lilymara.xyz?subject={{.Title}}">send me an email</a>.
				</p>
			</div>
		</div>
		{{end}}

	</article>
</main>

<!-- Comments by Cusdis -->
<!-- <h1>Comments</h1>

<div
  id="cusdis_thread"
  data-host="https://cusdis.com"
  data-app-id="b723b7d5-0198-4bcb-bac2-2aa60f7f3154"
  data-page-id="{{ .File.UniqueID }}"
  data-page-url="{{ .Permalink }}"
  data-page-title="{{ .Title }}"
></div>
<script async defer src="https://cusdis.com/js/cusdis.es.js"></script> -->

{{ end }}
