a:hover {
    color: black !important;
    background-color: hotpink;
}

.tags a:hover {
    background-color: hotpink;
}

.tags a {
    text-decoration: none;
}

a {
    text-decoration: underline;
    text-decoration-color: hotpink;
    text-decoration-thickness: 1px;
    border-bottom: none;
    transition: background-color 0.2s ease-in-out;
}
