a:hover {
    color: hotpink;
    background-color: transparent;
}

.tags a:hover {
    color: hotpink;
    background-color: transparent;
}

.tags a {
    /* border-bottom: none; */
    text-decoration: none;
}

a {
    text-decoration: underline;
    text-decoration-color: hotpink;
    text-decoration-thickness: 1px;
    border-bottom: none;
    transition: color 0.2s ease-in-out;
}
