.callout {
    border-radius: 1em;
    background-color: #eaf0fb;
    color: black;
    margin-bottom: 1em;
}

.callout p {
  font-family: 'Fira Sans', sans-serif;
}

.callout-header {
    font-weight: bold;
    font-size: 110%;
    font-family: 'Fira Sans', sans-serif;
}

.callout .callout-header {
    color: #3578f6;
}

.callout a {
    border-bottom: none !important;
}

.callout a:hover {
    background-color: hotpink;
    color: black;
}

.callout-warning {
    background-color: #fcf2ea;
}

.callout-warning .callout-header {
    color: #dd9b51;
}

.callout-success {
    background-color: #eef8ee;
}

.callout-success .callout-header {
    color: #6fcc78;
}
