img {
    display: block;
    margin: auto;
}

a img {
  transition: border-color 0.2s ease-in-out;
}

a img:hover {
  border: 3px solid hotpink;
}

.img-narrow {
    display: flex;
    margin: auto;
    justify-content: center;
    gap: 20px;
}

.img-narrow a {
  max-width: 50%;
}

.img-narrow img {
  max-height: 350px;
}

figure {
    width: 100%;
}
