aside.TableOfContents {
    background-color: #eeeeee;
    border: 1px black solid;
    padding: 1em;
    border-radius: 1em;
}

aside.TableOfContents h3::before{
    content: '' !important;
}

aside.TableOfContents h3 {
    margin-top: 0;
}
