details.TableOfContents {
    background-color: #fff0f7;
    padding: 1em;
    border-radius: 1em;
    transition: background-color 0.2s ease-in-out;
}

details.TableOfContents[open] {
    background-color: hotpink;
}

details.TableOfContents a {
    background-color: black;
    color: white;
    text-decoration: none;
}

details.TableOfContents a:hover {
    background-color: white;
    color: black;
}

details.TableOfContents h3::before{
    content: '' !important;
}

details.TableOfContents h3 {
    margin-top: 0;
}
