<!doctype html>
<html>
    {{ partial "header.html" . }}
    <body>
        <div class="content">
            {{ partial "head.html" . }}

            <!--  -->
            {{ $all_pages := where .Site.RegularPages "Params.hidden" "ne" true
            }}

            <main class="list">
                <div class="site-description">
                    <p>
                        Hi, I'm <a href="/pages/about">Lily!</a> I write Rust
                        software and I use this website to write about software,
                        conference talks that I've given, and my life.
                    </p>
                </div>
                <p>
                    Jump to: <a href="#clippings">Clippings</a>,
                    <a href="#posts">Posts</a>, <a href="#talks">Talks</a>, or
                    <a href="#now">Now</a>
                </p>

                <div id="clippings" class="homepage-box">
                    <h1>Most recent <a href="/clips">clippings</a></h1>
                    <ul class="posts">
                        {{- range ( where $all_pages "Section" "clips" | first 5
                        ) }}
                        <li class="post">
                            <a href="{{ .RelPermalink }}">{{.Title}}</a>
                            <span class="meta"
                                >{{ dateFormat "Jan 2, 2006" .Date }}{{ if
                                .Draft }}
                                <span class="draft-label">DRAFT</span> {{ end
                                }}</span
                            >
                        </li>
                        {{- end}}
                    </ul>
                    <a href="/clips/">View All →</a>
                </div>

                {{ $recent_posts := where $all_pages "Section" "posts" }}
                <!--  -->
                {{ $featured_posts := sort (where (where $all_pages "Section"
                "posts") "Params.featured" "ne" nil) "Params.featured" "asc" }}
                <div id="posts" class="homepage-box">
                    {{ range (first 1 $recent_posts) }}
                    <h1>
                        Most recent blog post -
                        <a href="{{ .RelPermalink }}">{{.Title}}</a>
                        <span class="meta"
                            >{{ dateFormat "Jan 2, 2006" .Date }}{{ if .Draft }}
                            <span class="draft-label">DRAFT</span> {{ end
                            }}</span
                        >
                    </h1>
                    {{ template "partials/pagedescription.html" . }}
                    <a href="{{ .RelPermalink }}">Read more →</a>
                    {{end}}

                    <h1>Featured Blog Posts</h1>
                    <ul class="posts">
                        {{ range (first 5 $featured_posts) }}
                        <li class="post">
                            <a href="{{ .RelPermalink }}">{{.Title}}</a>
                            <span class="meta"
                                >{{ dateFormat "Jan 2, 2006" .Date }}{{ if
                                .Draft }}
                                <span class="draft-label">DRAFT</span> {{ end
                                }}</span
                            >
                        </li>
                        {{ end }}
                    </ul>

                    <h1>More posts</h1>
                    <ul class="posts">
                        {{ range (first 5 (after 1 $recent_posts)) }}
                        <li class="post">
                            <a href="{{ .RelPermalink }}">{{.Title}}</a>
                            <span class="meta"
                                >{{ dateFormat "Jan 2, 2006" .Date }}{{ if
                                .Draft }}
                                <span class="draft-label">DRAFT</span> {{ end
                                }}</span
                            >
                        </li>
                        {{ end }}
                    </ul>
                    <a href="/posts/">View All →</a>
                </div>

                <div id="talks" class="homepage-box">
                    <h1>Recent Talks</h1>

                    <ul class="posts">
                        {{- range ( where .Site.RegularPages "Section" "talks" |
                        first 5 ) }}
                        <li class="post">
                            <a href="{{ .RelPermalink }}">{{.Title}}</a>
                            <span class="meta"
                                >{{ dateFormat "Jan 2, 2006" .Date }}{{ if
                                .Draft }}
                                <span class="draft-label">DRAFT</span> {{ end
                                }}</span
                            >
                        </li>
                        {{ end }}
                    </ul>
                    <a href="/talks/">View All →</a>
                </div>

                <div id="now" class="homepage-box">
                    {{- range ( where .Site.Pages "Section" "now" | first 1 ) }}
                    <h1>
                        Most recent <a href="/now">/now</a>
                        ({{ dateFormat "January 2006" .Date }})
                    </h1>

                    <section class="body">{{ .Content }}</section>
                    {{- end}}
                </div>
            </main>
            {{ partial "footer.html" . }}
        </div>
    </body>
</html>
